@page
@model KahootTeamRealTime.Pages.QuizRealTime.RoomUsersModel
@{
    ViewData["Title"] = "Room Users";
}
<h2>Room Users</h2>
<p>Room Code: <span id="roomCode">@Model.RoomCode</span></p>
<p>Username: <span id="username">@Model.Username</span></p>

<ul id="userList">
    @foreach (var user in Model.Users)
    {
        <li>@user</li>
    }
</ul>

<form method="post" asp-page-handler="LeaveRoom">
    <input type="hidden" name="roomCode" value="@Model.RoomCode" />
    <input type="hidden" name="username" value="@Model.Username" />
    <button type="submit">Leave Room</button>
</form>

<form method="get" asp-page="AnswerQuiz">
    <input type="hidden" name="username" value="@Model.Username" />
    <input type="hidden" name="roomCode" value="@Model.RoomCode" />
    <button type="submit">Start Quiz</button>
</form>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/QuizClient.js"></script>